.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button1 {
  height: 100px;
  width: 100px;
  position: relative;
  left: 20%
}
.button2 {
  height: 100px;
  width: 100px;
  position: relative;
  left: 40%
}
.button3 {
  height: 100px;
  width: 100px;
  position: relative;
  left: 60%
}
.navbar {
  position: relative;
  left: 40%;
}
